* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* SECTION-1 */

.lab01 .section {
    width: 360px;
    height: 640px;
    background-color: #00CCF9;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lab01 .circle {
    margin: 67px 110px;
    width: 140px;
    height: 140px;
    border: 15px solid black;
    border-radius: 50%;
}

.lab01 .title {
    display: flex;
    font-size: 25px;
    font-weight: 700;
    margin: 0 50px;
    text-align: center;
}

.lab01 .description {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.lab01 .button {
    display: flex;
    gap: 50px;
}

.lab01 .login button {
    width: 120px;
    height: 48px;
    background-color: rgb(223, 176, 24);
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.lab01 .signup button {
    width: 120px;
    height: 48px;
    background-color: rgb(223, 176, 24);
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

/* SECTION-2 */

.lab02 .section {
    width: 360px;
    height: 640px;
    background: linear-gradient(to bottom, #d8f9ff 85%, #35e4ff);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lab02 .circle {
    margin: 67px 110px;
    width: 140px;
    height: 140px;
    border: 15px solid black;
    border-radius: 50%;
}

.lab02 .title {
    display: flex;
    font-size: 25px;
    font-weight: 700;
    margin: 0 50px;
    text-align: center;
}

.lab02 .title2 {
    margin-top: -20px;
    font-size: 10px;
    padding-bottom: 30px;
}

.lab02 .description {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.lab02 .button {
    display: flex;
    gap: 50px;
    margin-top: 10px;
}

.lab02 .login button {
    width: 120px;
    height: 48px;
    background-color: rgb(223, 176, 24);
    color: black;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.lab02 .signup button {
    width: 120px;
    height: 48px;
    background-color: rgb(223, 176, 24);
    color: black;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

/* SECTION-3 */

.lab03 .section {
    width: 360px;
    height: 640px;
    background: linear-gradient(to bottom, #d8f9ff 85%, #35e4ff);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lab03 .icon {
    height: 240px;
}

.lab03 .icon i {
    margin: 76px 128px;
    width: 105px;
    height: 117px;
    font-size: 110px;
    padding: 10px;
}

.lab03 .title {
    display: flex;
    font-size: 25px;
    font-weight: 700;
    margin: 0 113px;
    text-align: center;
}

.lab03 .description {
    text-align: center;
    margin: 0 26px;
    font-size: 15px;
    padding: 30px 0;
}

.lab03 .box {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.lab03 .sub-icon {
    margin: 0 5%;
}

.lab03 .box input {
    border: none;
    width: 280px;
    height: 45px;
}

.lab03 .button {
    margin: 20px 35px;
    background-color: rgb(255, 210, 46);
    width: 305px;
    height: 45px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
}

/* SECTION-4 */

.lab04 .code-input {
    display: flex;
}

.lab04 .section {
    width: 360px;
    height: 640px;
    background: linear-gradient(to bottom, #d8f9ff 85%, #35e4ff);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lab04 .title {
    width: 100%;
    height: 25%;
    padding-top: 30px;
    text-align: center;
}

.lab04 .title h2 {
    font-size: 60px;
    font-weight: 700;
}

.lab04 .sub-title {
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: -60px;
}

.lab04 .sub-title h3 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.lab04 .description {
    width: 100%;
    text-align: center;
    margin-top: -80px;
}

.lab04 .code-input {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    padding: 0 30px;
}
.lab04 .code-input input {
    padding: 25px 0;
    background: none;
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 24px;
    border: 1px solid #000000;
    outline: none;
    box-shadow: inset 0 0 3px #6a6a6a;
}

.lab04 .code-input input:focus {
    border-color: #007bff;
}
.lab04 .button {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 50px;
    background-color: rgb(255, 210, 46);
    margin-top: -90px;
}
.lab04 .button button {
    background-color: rgb(255, 210, 46);
    border: none;
    font-size: 20px;
    
}

/* SECTION-5 */

.lab05 .title {
    width: 100%;
    margin-bottom: -250px;
    padding-top: 20px;
    text-align: center;
}

.lab05 .section {
    width: 360px;
    height: 640px;
    background: #31AA5230;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lab05 .input {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.lab05 .input .Email {
    background-color: #C4C4C44D;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    border: none;
    padding-left: 20px;
    margin-left: 20px;
}

.lab05 .input .Password {
    background-color: #C4C4C44D;
    margin-left: 20px;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    border: none;
    padding-left: 20px;
}

.lab05 .input i::before {
    box-sizing: border-box;
    font-size: 25px;
    margin-left: -50px;
}

.lab05 .input button {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    border: none;
    font-size: 20px;
    background-color: #E53935;
    color: white;
    font-weight: 700;
}

.lab05 .terms {
    margin-top: -30px;
}

.lab05 .forget {
    width: 100%;
    margin-top: -50px;
    text-align: center;
    color: #5D25FA;
}
.lab05 .text {
    width: 100%;
    text-align: center;
    margin-top: -60px;
}

.lab05 .socials {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -60px;
}

.lab05 .socials .facebook {
    width: 100px;
    height: 50px;
    background-color: #25479B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.lab05 .socials .zalo {
    width: 100px;
    height: 50px;
    background-color: #0F8EE0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.lab05 .socials .google {
    width: 100px;
    height: 50px;
    border: 1px solid #0680F1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: gra;
}